html{height: 100%;}

body
{ font-family: "lucida sans", arial, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .78em;
  background: #090708;
  color: #5D5D5D;}

p
{ margin: 0px;
font-size:20px;
  padding: 0px 0px 16px 0px;
  line-height: 1.7em;}

h2.para{
	font-family:"Trebuchet MS", Helvetica, sans-serif; 
	text-align:center;
	font-size:30px;
	padding:30px;}

h1{	color:black;
   font-family:"Trebuchet MS", Helvetica, sans-serif; 
   text-align:center;
   font-size:30px;}

 h2, h3, h4, h5, h6 
{ 
  font:  "Times New Roman", Times, serif;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}


a, a:hover
{ color: #635B53;
  text-decoration: none;}

a:hover
{ color: #00C5EE;}

form
{ padding: 0; 
  margin: 0;}

.left
{ float: left;
  margin-right: 10px;}

.right
{ float: right; 
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 0 auto;}

ul
{ margin: 2px 0px 18px 16px;
  padding: 0px;}

ul li
{ list-style-type: square;
  margin: 0px 0px 6px 0px; 
  padding: 0px;}

ol
{ margin: 8px 0px 0px 24px;
  padding: 0px;}

ol li
{ margin: 0px 0px 11px 0px; 
  padding: 0px;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ padding-bottom: 40px;}

#header
{ background: transparent url("../images/bw1.jpg") no-repeat;
 background-attachment:fixed;
 }
 #header1
{ background: transparent url("../images/01.jpg") no-repeat;
 background-attachment:fixed;
 }
 #header2
{ background: transparent url("../images/giving2.jpg") no-repeat;
 background-attachment:fixed;
 }
 #header3
{ background: transparent url("../images/child.jpg") no-repeat;
 background-attachment:fixed;
 }
#header4
{ background: transparent url("../images/heart1.jpg") no-repeat;
 background-attachment:fixed;
 }
#logo
{ position: relative;
  height: 200px;}

#logo #logo_text 
{ position: absolute;  
  left: 0;}

#logo h1
{ font: normal 300% "Times New Roman", Times, serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #ff8c1a;
  text-decoration: none;
  border: 0;}

#logo_text h1 a .logo_colour
{ color: white;}

#logo_text a:hover .logo_colour
{ color: gold;}

#menubar
{ padding-top: 4px;
  padding-left: 4px;} 

ul#menu
{ float: right;
  margin: 0px;}

ul#menu li
{ float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 0px;
  list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font-family: sans-serif;
  font-size: 120%;
  display: block; 
  float: left; 
  height: 20px;
  padding: 9px 15px 5px 15px;
  text-align: center;
  color: #FFF;
  border: none;} 
  
ul#menu li.donate a
{ border-style: solid;}

ul#menu li.donate a:hover
{ color: red;}

ul#don li.donate{
list-style: none;}

ul#don li.donate a
{ padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: #f44336; 
  color: black; 
  border: 2px solid black;}

ul#don li.donate a:hover
{ background-color: black;
  color: white;}

ul#menu li.selected a
{ height: 20px;
  padding: 7px 15px 4px 15px;}

ul#menu li.selected
{ margin: 7px 0 0 0;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #00C6EF;}

ul#menu li a:hover
{ color: #00C6EF;}

.other
{
	background-image: url("../images/tree.jpg");
	padding: 25px;
}

#site_content
{ 
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 10px 20px 20px 20px;
  background: #F6F6F0;
  border: 15px solid #FFF;} 
  
#site_contentaboutus
{ 
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 10px 20px 20px 20px;
  background: #ffe6cc;
  border: 15px solid #FFF;} 
  
#site_contentwork
{ 
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 10px 20px 20px 20px;
  background: #F6F6F0;
  } 
#site_contentcontact
{ 
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 10px 20px 20px 20px;
  background: white;} 
  

#footer
{ width: 916px;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 90%;
  height: 28px;
  padding: 20px 0 5px 0;
  text-align: center; 
  background: transparent;
  color: grey;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer p
{ padding: 0;
font-size:15px;}

#footer a, #footer a:hover
{ color: #EEF3CD;
  text-decoration: none;}

#footer a:hover
{ text-decoration: underline;
	color:grey;}

.search
{ color: #555; 
  border: 1px solid #DDD; 
  width: 134px;
  padding: 5px;}
  
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

table tr th , table tr td
{ padding: 5px;
  font-size: 20px;
  font-family:"Trebuchet MS", Helvetica, sans-serif; 
  text-align: center;
  background: #e6f3ff;
  color: #47433F;
  border: none;}
  
